

/*

    use this standard template for designing 


*/

.eb-button{

    background-color: #2caae5;
    color: white;
}
.eb-button-hover:hover{
    background-color: #2caae5;
    color: white;
}
.eb-font{
    color:#30c3cc;
}
.eb-font-hover:hover{
    color:#2caae5;
}
.eb-font-liked{
    color:#30c3cc;
}
.eb-font-liked:hover{
    color:#30c3cc !important;
}
.eb-font-liked:focus{
    color:#30c3cc !important;
}
.eb-send{
    color:#30c3cc !important;
}
.eb-send:hover{
    color:#2caae5 !important;
}